language: php
php:
  - 5.6
env:
  global:
    - secure: f0Hov8FUC5CtvdvMldwrczw4dCtn19NJA2pLS6bgWEulyCH/YYGdbd1U8enDbMVieev9XUrr/aRLW4L8RpP1f2GyL0bJWEekpTEBKAQUa+6NCLDuPVkpZJZtEHnUd0dyPb89+3tHtUbn2ZIv+O3kCfYWMoMpA6UMV1IIfz+H+e2OQl7W97/GRCbtfHCHev9Yx/0DLxDuERNcnbyCOPAsjvlPcPZ2f60JVlVaYaYUFrickaKX4luCSWXscbU7lIyib2z4NRZYo7+Hv11sWTPMrM1jPZnd/IFEEfi1//GKGbPVmjePwA2DepIUdX9iKMJNyGcimLO7ZlPkZ+8mY5XxFxGbHZl9kHw9/nkgaKENsiYKjVwSjf1Aq4LrPpjcZ7BZ4+suwzBoEaBBdJFexIFYGKZnB3F8AQuKdSW4zM/Sfh413htE5SuwJctYSGHRd3VIGnDqlFheay4sAaD6pNXUeUxqdbO76bOzbTw8+jan090qSvVaIhtGbKyFkymJUyOsrAU/29TTUSYdltXsPQ+cJ23BuOIHCpw3bzlKczdr7kyir6Vj0thprE3yezDePGdA2mtAJzl/AZkrEdLhA3JpIf/F6TzbWXqEZQII4im5ytiLk3yLisO6lX9v65c2y8wGi1vmAtquY1oKCElQ0j2o2qzSLktqdZ9EpAW8E4gYmgk=
    - secure: j0SGxyDEAUIx3HN+Fjc0+lE5m+2DBESH85284YPQHnZwcPrsAs0tk++BLdYykNmsZNAayZfruPlynm5Om032mc4LFBfQX5Q3WyrC4v3md82z7qBV+W7O8RTlKrizX62bdMih/RUHdsQXrpoIAWMNFFfM36JFmKSzu0xKs3rWzsg2czofvgF98qHSCt1qrE+CjtrWbamzPN2ndfg5PGcGob+H4RG1EZu2HAzr/jrPWDwkwCRwfvA7Bd0EgQVTkhnet80abVrzWQDQF0elViRXhbf2KOONeZ12BUOvyCf3myjTZoTvAKZ1aTW0ICGB/92/FGdp4ljb/OKc4vMJXLTNNarY1JlKutrlseYttkimy63TE0AXLpAci0dJ+Fie9jpQAJUwkkKkDVSj20c6MDQKmNxFyjQJvPlXhTDCJqTYoHXDokvlpwNyLN3E85nrVqcOK21J3l0q17X0Puw/O5JZKkgmBs9AhYZ8Pr7aPaDy0pjanhoV5rZQYhbzmE9csH9G7swHhDI3sfW4QVCppsd317bDYK6cLVAJB7q7bZ9eUHNKweNEn81jeVXfKwLbYdCZyBFuyUVrEjZGEGoz+/RUcgJHXhfmAZmjkx/BgS+FwQxJ4SX4wx5n7XGUcMndweNu7h2SmGAeOouQskv0fb0Uvjd5l6swRs6n2E/DrZVkdkk=
    - secure: PaZdP4plRP1RD3yQhkGBg6KwYiHPS3mS5NDBE++g8GoGkdkKo+xMI43edTZZmwCKjBv5GQw5oaPriVz7nqg7RcmWr77idQb0SurUis5a/kU32R0Mlu8z2yE0RNKe53akpkIX0Vn02M96pqURypvP42/p+f7e4pux281EcDDrWPHUqhQdbFDvLyBHhkpIav3LRWAaa/HWGn/ZIsmpp8Py4Db+v4V8OSftD2PSn+eKu9PYgBRFnb11lesktbfPGPtaueCzoiOjPIAH3nF3XmfZztG9jSbyFpG5kC7VG5JleJQsYeteUCOjrhBDaib4VY5wv2OtU+93tEPgHZOu5pUmg68JRt3VHzAqiIAiSggRGG0Wiy6Z9DloJ/9cGwKGZVPBBIFzBlpz0yYnPlI4sITxnLPryAu0xt5INMtwRYKVpjeaO3DGIN86DJOZEyQps+jCAWJyJQJL4L76zIOP3l8ycoSjhbY9oQzFDxaYB5pjU/0KHEPQh0bSVRoqyKVwqtgd0EUeFB0pNzFNnq1yhRkBQqn4KE2dwKauOGVYXUZlksQn1NT5FJKFaBw+CRyfehgxqBeRNQMhHk7G27HrLC4rKPDk0PQfHyYM2i4wiFEgFpS67CvJfkDuScFxmzGTyY1qEaxksyhyLPnjMRhk60RICa0z7FJs1bl3SLp5TWW57xw=
before_script:
  - composer self-update
  - composer install --no-interaction
  - cp .env.travis .env
  - php artisan key:generate
script:
  - vendor/bin/phpunit
before_install:
  - openssl aes-256-cbc -K $encrypted_e4422d832ef6_key -iv $encrypted_e4422d832ef6_iv -in .travis/ssh.tar.enc -out ssh.tar -d
  - tar xvf ssh.tar && rm -f ssh.tar
  - mv ssh_config ~/.ssh/config
  - mv ssh_key ~/.ssh/id_rsa
  - chmod 600 ~/.ssh/id_rsa
  - eval $(ssh-agent)
  - ssh-add ~/.ssh/id_rsa
